body {
  border: 0;
  color: #333;
  width: 100%;
  margin: auto;
  font-size: 13px;
  padding: 0 10px;
  max-width: 1200px;
  background-color: #fff;
  font-family: arial, sans-serif;
}

.container {
  margin: 0;
  border: 0;
  padding: 0;
}

.container table {
  color: #333;
  font-size: 13px;
  border-spacing: 5px 25px;
  border-collapse: separate;
  font-family: arial, sans-serif;
}

.container table tr td {
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.container table input {
  margin-left: 5px;
  margin-right: 5px;
  vertical-align: middle;
}

.container table span,
.container table select {
  vertical-align: middle;
  transition: 300ms ease all;
}

.container table input[type='text'] {
  width: 130px;
}

.container table input[type='number'] {
  padding: 0;
  color: #333;
  width: 128px;
  height: 38px;
  outline: none;
  font-size: 13px;
  font-weight: 600;
  text-indent: 10px;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

.container table input[type='checkbox'] {
  padding: 0;
  float: right;
  margin: 0 10px;
}

.container table select {
  outline: 0;
  width: 160px;
  height: 24px;
  padding: 0 3px;
  font-size: 13px;
  cursor: pointer;
  text-align: left;
  border-radius: 1px;
  background-color: #FFF;
  border: solid 1px #A4A5A6;
  color: #2b2b2b !important;
}

.container table option {
  text-align: left;
  padding: 0 0 0 10px;
  background-color: #fff;
  color: #2b2b2b !important;
}

.warning {color: #FB8F91}
.description {color: white !important}

.container table input:focus {outline: none !important}
.container table select:focus {outline: none !important}
.container table button:focus {outline: none !important}
.container table option:focus {outline: none !important}

.container table input::-moz-focus-inner {border: 0 !important} input::-moz-focus-outer {border: 0 !important}
.container table button::-moz-focus-inner {border: 0 !important} button::-moz-focus-outer {border: 0 !important}
.container table select::-moz-focus-inner {border: 0 !important} select::-moz-focus-outer {border: 0 !important}
.container table option::-moz-focus-inner {border: 0 !important} option::-moz-focus-outer {border: 0 !important}

.container table .flex {
  margin: auto;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
}

.container table .note {
  margin: 0;
  padding: 10px 0;
  line-height: 18px;
  padding-bottom: 5px;
  color: #676767 !important;
}

#html5-tts-api,
#google-tts-api {
  cursor: pointer;
  padding: 5px 20px;
  border: solid 1px #777777;
}

#html5-tts-api:hover,
#google-tts-api:hover {
  color: #FFF;
  background-color: #777777;
}

#html5-tts-api[type='clicked'],
#google-tts-api[type='clicked'] {
  color: #FFF;
  background-color: #777777;
}

.logo {
  width: 100%;
  height: 128px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  background: url('../icons/128.png') no-repeat center center;
  background-size: 64px;
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] .container,
html[theme='dark'] .container table input[type='number'] {
  color: #ebebeb;
  background-color: #1e1e1e;
}

html[theme='dark'] .container table .note {
  color: #b9b9b9 !important;
}

html[theme='dark'] .container table span,
html[theme='dark'] .container table select {
  color: #ebebeb;
}

html[theme='dark'] .container table tr td {
  border-color: rgb(255 255 255 / 10%);
}

html[theme='dark'] .logo,
html[theme='dark'] .container table input[type='number'] {
  border-color: rgb(255 255 255 / 25%);
}

html[theme='dark'] .toolbar svg {
  fill: #ebebeb;
}
